// Posts
.post {
  border: $base-border;
  background: lighten($light-gray, 2%);
  margin-bottom: 20px;
  padding: 10px;

  @include span-columns(12);

  .author {
    font-weight: bold;
    font-size: 1em;
  }

  small{
    padding-top: 10px;
    font-size: 0.9em;
    opacity: 0.8;
  }
}

// Post form
.post-form {
  border: $base-border;
  background: lighten($light-gray, 2%);
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;

  input, textarea{
    font: inherit;
  }

  textarea{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
  }

  @include span-columns(12);

  .author {
    font-weight: bold;
    font-size: 1em;
  }
}
