@import "reset";
@import "variables";
@import "bourbon";
@import "neat";
@import "forms";
@import "typography";
@import "posts";

body {
  background: $light-gray;
  color: $dark-gray;
}

header {
  background: url("/images/space-bg.jpg") $dark-gray;
  background-size: cover;
  height: 300px;
  margin-bottom: 40px;
  padding-top: 10px;
  .header-inner {
    @include outer-container;
  }
  nav {
    color: $light-gray;
    float: right;
    text-align: right;
    width: 40%;
    margin-top: 5px;
  }
  .logo {
    margin: auto;
    float: left;
    text-align: center;
    color: white;
    font-size: 1.5em;
    width: 60%;
    img { width: 223px; float: right; }
  }
}

#main_wrapper {
  @include outer-container;
  margin: auto;
}

#main_container {
  max-width: 700px;
  margin: auto;
}

.btn {
  background: $blue;
  color: white;
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.tabs {
  height: 32px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  li:first-child {
    border-bottom: 1px solid white;
  }

  li {
    border: 1px solid #ccc;
    margin-right: 10px;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    cursor: pointer;
    background: white;

    &:hover {
      border-color: black;
      text-decoration: underline;
    }
  }
}

table{
  width: 100%;
  border-top: 1px solid #ccc;
  border-collapse: collapse;

  th,td{
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }
}