@import "reset";
@import "variables";
@import "bourbon";
@import "neat";
@import "forms";
@import "typography";
@import "posts";

body {
  background: $light-gray;
  color: $dark-gray;
}

header {
  background: url("/images/space-bg.jpg") $dark-gray;
  background-size: cover;
  height: 300px;
  margin-bottom: 40px;
  .header-inner {
    @include outer-container;
  }
  nav {
    color: $light-gray;
    float: right;
  }
  .logo {
    float: left;
    color: white;
    font-size: 1.5em;
  }
}

#main_container {
  @include outer-container;
  max-width: 520px;
  margin: auto;
}

*{
  box-sizing: border-box;
}

.tabs{
  height: 32px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  li:first-child{
    border-bottom: 1px solid white;
  }

  li{
    border: 1px solid #ccc;
    margin-right: 10px;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
    cursor: pointer;
    background: white;

    &:hover{
      border-color: black;
      text-decoration: underline;
    }
  }
}

