@import "reset";
@import "variables";
@import "bourbon";
@import "neat";
@import "forms";
@import "typography";
@import "posts";

body {
  background: $light-gray;
  color: $dark-gray;
}

header {
  background: url("/images/space-bg.jpg") $dark-gray;
  background-size: cover;
  height: 300px;
  margin-bottom: 40px;
  .header-inner {
    @include outer-container;
  }
  nav {
    color: $light-gray;
    float: right;
  }
  .logo {
    float: left;
    color: white;
    font-size: 1.5em;
  }
}

#main_container {
  @include outer-container;
  max-width: 400px;
  margin: auto;
}

.tabs{
  li{
    border: 1px solid #ccc;
    margin-right: 10px;
    margin: auto;
    line-height: 30px;
    padding: 0 15px;
    display: inline-block;
  }
}

